* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; /* Base font size */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

/* Allow scrolling on body for the main content */
body {
  overflow-y: auto;
}
